<div id="homeUno">
	<div class="separator">

		<div class="center2">
			<div class="title">
				<h3>Municipios del estado de Colima</h3>	
			</div>	
			<a href="#armeria" [routerLinkActive]="['active']" data-toggle="modal">
				<div class="panel panel-default pan col-lg-4">
					<img src="../../../assets/img/estados/armeria.png" width="170" alt=""><span class="centrar">Armería</span>
				</div>             
	        </a>
	        <a href="#colima" [routerLinkActive]="['active']" data-toggle="modal">
				<div class="panel panel-default pan col-lg-4">
					<img src="../../../assets/img/estados/colima.png" width="170" alt=""><span class="centrar">Colima</span>
				</div>             
	        </a>
	        <a href="#comala" [routerLinkActive]="['active']" data-toggle="modal">
				<div class="panel panel-default pan col-lg-4">
					<img src="../../../assets/img/estados/comala.png" width="170" alt=""><span class="centrar">Comala</span>
				</div>             
	        </a>
	        <a href="#coqui" [routerLinkActive]="['active']" data-toggle="modal">
				<div class="panel panel-default pan col-lg-4">
					<img src="../../../assets/img/estados/coquimatlan.png" width="170" alt=""><span class="centrar">Coquimatlán</span>
				</div>             
	        </a>
	        <a href="#cuauh" [routerLinkActive]="['active']" data-toggle="modal">
				<div class="panel panel-default pan col-lg-4">
					<img src="../../../assets/img/estados/cuauhtemoc.png" width="170" alt=""><span class="centrar">Cuauhtémoc</span>
				</div>             
	        </a>
	        <a href="#ixtla" [routerLinkActive]="['active']" data-toggle="modal">
				<div class="panel panel-default pan col-lg-4">
					<img src="../../../assets/img/estados/ixtla.png" width="170" alt=""><span class="centrar">Ixtlahuacán</span>
				</div>             
	        </a>
	        <a href="#manzanillo" [routerLinkActive]="['active']" data-toggle="modal">
				<div class="panel panel-default pan col-lg-4">
					<img src="../../../assets/img/estados/manzanillo.png" width="170" alt=""><span class="centrar">Manzanillo</span>
				</div>             
	        </a>
	        <a href="#minatitlan" [routerLinkActive]="['active']" data-toggle="modal">
				<div class="panel panel-default pan col-lg-4">
					<img src="../../../assets/img/estados/minatitlan.png" width="170" alt=""><span class="centrar">Minatitlán</span>
				</div>             
	        </a>
	        <a href="#tecoman" [routerLinkActive]="['active']" data-toggle="modal">
				<div class="panel panel-default pan col-lg-4">
					<img src="../../../assets/img/estados/tecoman.png" width="170" alt=""><span class="centrar">Tecomán</span>
				</div>             
	        </a>
	        <a href="#villa" [routerLinkActive]="['active']" data-toggle="modal">
				<div class="panel panel-default pan col-lg-4">
					<img src="../../../assets/img/estados/villa.png" width="170" alt=""><span class="centrar">Villa de Álvarez</span>
				</div>             
	        </a>

	        <!-- Modals -->
				<!-- Modal HTML -->
				<div id="armeria" class="modal fade">
				    <div class="modal-dialog">
				        <div class="modal-content">
					        <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title">
										Armería
						            </h4>
						    </div>
						    <div class="modal-body">
						    	<div class="text">
									<h5>
										Existen varias interpretaciones respecto al origen del nombre de Armería; fue en un principio, un lugar en el cual se armaban barcos debido a la cercanía del río que hoy lleva el mismo nombre, para posteriormente convertirse en un destacamento de guardias virreinales que otorgaban garantías a los viajeros que transitaban por el “Camino Real” hacia Manzanillo o de regreso a la ciudad de Colima.  

										Posteriormente, una hacienda fue el punto de partida del núcleo de población que dio pie al surgimiento del poblado de Armería.
									</h5>
								</div>
								<p class="text2">
									<span class="bold2">Principales atractivos turísticos:</span>
									
								    Entre los atractivos turísticos con que cuenta el municipio de Armería, y que son concurridos por habitantes del municipio, la región, el estado y el extranjero, se encuentran:
									
								</p>
								<p class="text">
									<span class="bold">Cuyutlán: <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Cuyutl%C3%A1n,+Col./@18.9132426,-104.0696909,15z/data=!3m1!4b1!4m5!3m4!1s0x843ace7828f5e86d:0x31b7408845ab250c!8m2!3d18.9126084!4d-104.060208"><span class="glyphicon glyphicon-map-marker"></span></a></span> Balneario cuyas playas se han convertido en toda una tradición en el estado, por tener la peculiaridad de ser a mar abierto, así como presentar un fuerte oleaje, propicio para la práctica del surfing. Este sitio además es famoso por su asombrosa “Ola Verde” que es común durante la primavera y el verano; aquí se puede disfrutar de sabrosos platillos elaborados a base de mariscos y pescados; a unos kilómetros del centro del poblado se localiza el “Tortugario”, sitio dedicado a la preservación de tortugas marinas que se reproducen en estas playas.
									
								</p>
								<p class="text2">
									<span class="bold">El Paraíso: <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/El+Para%C3%ADso,+Col./@18.8757732,-103.9985054,15.29z/data=!4m5!3m4!1s0x843ac8c4691ef893:0xdd82aef8fbfac4e1!8m2!3d18.8752777!4d-103.9919444"><span class="glyphicon glyphicon-map-marker"></span></a></span> Balneario cuyas playas son muy visitadas debido a que también ahí se puede practicar el surfing y el windsurf; constituye uno de los principales lugares concurridos por el turismo estatal y regional; además, se puede saborear la deliciosa comida del mar que se ofrece en las típicas ramadas.
									
								</p>
								<p class="text">
									<span class="bold">Laguna de Cuyutlán:<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Cuyutl%C3%A1n,+Col./@18.9132426,-104.0696909,15z/data=!3m1!4b1!4m5!3m4!1s0x843ace7828f5e86d:0x31b7408845ab250c!8m2!3d18.9126084!4d-104.060208"><span class="glyphicon glyphicon-map-marker"></span></a></span> Es la más espectacular en todo el estado, con una longitud de 50 km y una anchura de 3 km; además, es el lugar donde se realiza la extracción y producción salinera.
									
								</p>
								<p class="text2">
									<span class="bold">Estero Palo Verde: <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Estero+Palo+Verde/@18.9016662,-104.0404215,15z/data=!3m1!4b1!4m5!3m4!1s0x843acee839c5ad53:0x6e826544df62f0f6!8m2!3d18.9016667!4d-104.0316667"><span class="glyphicon glyphicon-map-marker"></span></a></span> Es un conjunto de peculiares manglares que se sitúa en Colima, en las costas de Armería, justo en la ribera norte de la desembocadura del río, donde existió un pueblo indígena llamado “Tecpa”, donde se producía sal hasta el siglo XVI. Declarado “Parque Nacional” en 1978, se localiza en la cuenca baja del Río Tempisque y cubre una extensión de más de 198 kilómetros cuadrados; su elevación máxima es de 268 metros sobre el nivel del mar.
									
									Los diferentes hábitats de dicho parque albergan más de 75 especies de mamíferos y más de 700 plantas, incluyendo alrededor de 100 especies de plantas acuáticas. Además se pueden observar cerca de 280 especies de aves, incluyendo 60 especies de aves acuáticas, 55 especies de reptiles y de anfibios. Región en la que los distintos islotes que la conforman crean un magnífico rompecabezas natural, el Estero Palo Verde se apunta como una maravilla sin igual.
								</p>
							
							    <p class="text">	           				            	
										
									<span class="bold">El Tortugario: <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/El+Tortugario+Ecologico/@18.897191,-104.0366217,17z/data=!3m1!4b1!4m5!3m4!1s0x843acee644a9001b:0xdc7db57a7f6cae48!8m2!3d18.897191!4d-104.034433"><span class="glyphicon glyphicon-map-marker"></span></a></span> En las playas cercanas a Cuyutlán, en Armería se encuentra el Centro Ecológico El Tortugario, lugar donde se vive la magia de la vida marina con fantásticas experiencias interactivas que ayudan a preservar especies en peligro de extinción. En el Tortugario, el visitante podrá liberar con sus manos tortuguitas, listas para dirigirse al mar (de acuerdo a condiciones climatológicas).
									Este campamento cuenta además con un cocodrilario, un iguanario, un andador natural para apreciar las aves y un muelle que permite embarcarse en lancha y recorrer el estero El Paraíso.
					            </p>
							                
							            </div>
					        <div class="modal-footer">
							    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							               
							</div>
					    </div>
					</div>
				</div> <!-- cerramos modal -->
				<!-- Modal HTML -->
				<div id="comala" class="modal fade">
				    <div class="modal-dialog">
				        <div class="modal-content">
					        <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title">
										Comala
						            </h4>
						    </div>
						    <div class="modal-body">
						    	<div class="text">
									<h5>
										Comala, es un mágico destino ubicado en el estado de Colima también conocido como el “Pueblo Blanco de América”, parte de su encanto radica en el equilibrio que se genera del color tierra de sus tejados, con el trazo sencillo de sus fachadas y la rica vegetación que rodea el lugar.

										En 1988 fue declarado Zona de Monumentos Históricos y en el 2002 fue elegido para formar parte del programa nacional “Pueblos Mágicos de México”. 
									</h5>
								</div>
								<p class="text2">
									<span class="bold2">Principales atractivos turísticos:</span>
									
								    Entre los atractivos turísticos con que cuenta el municipio de Comala, y que son concurridos por habitantes del municipio, la región, el estado y el extranjero, se encuentran:
									
								</p>
								<p class="text">
									<span class="bold">Parroquia de San Miguel Arcángel: <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Templo+San+Miguel+Arcangel/@19.2785353,-103.7687654,13z/data=!4m8!1m2!2m1!1sParroquia+de+San+Miguel+Arc%C3%A1ngel+colima!3m4!1s0x8425500bbbeb8e59:0xaeea82a063686e9b!8m2!3d19.2341845!4d-103.7096555"><span class="glyphicon glyphicon-map-marker"></span></a></span> Este edificio, construido en estilo neoclásico durante del primer tercio del siglo XIX, manifiesta una sensación de armonía en el espacio que ocupa dentro del conjunto que forma con los edificios civiles y la plaza aledaña.
									
								</p>
								<p class="text2">
									<span class="bold">Ex Hacienda de Nogueras: <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Hacienda+Nogueras/@19.3232356,-103.7421168,17z/data=!3m1!4b1!4m5!3m4!1s0x842544a8ad8f438d:0x5a01114de1de0b20!8m2!3d19.3232356!4d-103.7399281"><span class="glyphicon glyphicon-map-marker"></span></a></span>Donde antiguamente se situara la población indígena de Ajuchitlán, se instaló la que fue la hacienda cañera de don Juan de Noguera, construida en el siglo XVII. En la actualidad sobreviven de su estructura la capilla y parte de una enorme chimenea.
									
								</p>
								<p class="text">
									<span class="bold">Laguna de Carrizalillo:<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps?rlz=1C1NHXL_esMX758MX758&q=Laguna+de+Carrizalillo+colima&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiJlIH8wu3bAhVRSK0KHRUhCE4Q_AUICygC"><span class="glyphicon glyphicon-map-marker"></span></a></span>En este cuerpo de agua, rodeado por bellos paisajes de montaña y un ambiente campirano, pueden rentarse caballos para pasear por la laguna y practicar la pesca deportiva de lobina negra o acampar. Se localiza a 18 km al norte de Comala y cuenta con restaurante, comedores, un hotel y un buen servicio de vigilancia las 24 horas.
									
								</p>
								<p class="text2">
									<span class="bold">Laguna La María: <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps?rlz=1C1NHXL_esMX758MX758&q=Laguna+La+Mar%C3%ADa+colima&um=1&ie=UTF-8&sa=X&ved=0ahUKEwi3qLiHw-3bAhVHKawKHaaACEIQ_AUICygC"><span class="glyphicon glyphicon-map-marker"></span></a></span>Este cuerpo de agua es un agradable espacio para realizar un paseo en lancha y practicar la pesca. En sus instalaciones existen cabañas, comedores, zona para acampar, restaurante y vigilancia. Se sitúa a 22 km al norte de Comala.

								</p>
							
							    <p class="text">	           				            	
										
									<span class="bold">Parque Nacional "Nevado de Colima": <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/search/Parque+Nacional+%22Nevado+de+Colima/@19.6017758,-103.6192067,12z/data=!3m1!4b1"><span class="glyphicon glyphicon-map-marker"></span></a></span>Es una de las reservas ecológicas más importantes de Colima, donde es posible practicar en sus alrededores el turismo alternativo. Se localiza a 20 km al norte de Comala; el acceso puede hacerse por Ciudad Guzmán, Jalisco.
					            </p>
							                
							            </div>
					        <div class="modal-footer">
							    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							               
							</div>
					    </div>
					</div>
				</div> <!-- cerramos modal -->
				<!-- Modal HTML -->
				<div id="colima" class="modal fade">
				    <div class="modal-dialog">
				        <div class="modal-content">
					        <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title">
										Colima
						            </h4>
						    </div>
						    <div class="modal-body">
						    	<div class="text">
									<h5>
										Colima, lugar donde domina el dios viejo o el dios de fuego y que hace referencia al volcán de fuego. Se le conoce como Volcán de Colima por la vista inigualable que brinda a Colima y por el aprecio que los pobladores del estado le tienen. El nombre proviene de la palabra náhuatl con la que se denominaba al antiguo reino de “Colliman”: “Colli” que significa cerro, volcán o abuelo y “Maitl” significa mano o dominio.
									</h5>
								</div>
								<p class="text2">
									<span class="bold2">Principales atractivos turísticos:</span>
									
								    Entre los atractivos turísticos con que cuenta el municipio de Colima, y que son concurridos por habitantes del municipio, la región, el estado y el extranjero, se encuentran:
									
								</p>
								<p class="text">
									<span class="bold">Zonas Arqueológicas:</span> La Campana, El Chanal, Antiguo Convento de San Francisco de Almoloyán.
									
								</p>
								<p class="text2">
									<span class="bold">Estatuas:</span> Al Rey Colimán, al cura Hidalgo, grupo escultórico maestro Gregorio Torres Quintero; al maestro; a José María Morelos y Pavón; a José Pimentel Llerenas; a los reformadores: Melchor Ocampo, Guillermo Prieto, Santos Degollado, León Guzmán y Manuel Ruiz. Estatua a la Independencia, el Jardín del Recuerdo y la Estatua a la Madre.
									
								</p>
								<p class="text">
									<span class="bold">Bustos:</span> EA Benito Juárez, a Francisco I. Madero, a Jorge Chávez Carrillo, a Jesús García Corona,  al “Héroe de Nacozari” y a Emiliano Zapata.
									Bustos realzados en metal: Salón de actos de la Universidad de Colima, un obelisco con la efigie de Benito Juárez.
									
								</p>
								<p class="text2">
									<span class="bold">Templos:</span> La Catedral, El Beaterio, La Merced, La Salud, Santuario Guadalupano, María Auxiliadora.
								
								</p>
							
							    <p class="text">	           				            	
										
									<span class="bold">Museos:</span> Museo Regional de las Culturas de Occidente, Museo Universitario de Artes Populares María Teresa Pomar y Museo Regional de Historia de Colima.
					            </p>
							                
							            </div>
					        <div class="modal-footer">
							    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							               
							</div>
					    </div>
					</div>
				</div> <!-- cerramos modal -->
				<!-- Modal HTML -->
				<div id="coqui" class="modal fade">
				    <div class="modal-dialog">
				        <div class="modal-content">
					        <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title">
										Coquimatlán
						            </h4>
						    </div>
						    <div class="modal-body">
						    	<div class="text">
									<h5>
										Coquimatlán proviene de las raíces nahuas coqui que quiere decir paloma o torcaza, ma, de maitl que significa mano, tomar o asir, y tlan lugar, es decir “Lugar donde se cazan o atrapan torcazas”.
									</h5>
								</div>
								<p class="text2">
									<span class="bold2">Principales atractivos turísticos:</span>
									
								    Entre los atractivos turísticos con que cuenta el municipio de Coquimatlán, y que son concurridos por habitantes del municipio, la región, el estado y el extranjero, se encuentran:
									
								</p>
								<p class="text">
									<span class="bold">Los Amiales. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Balneario+Los+Amiales/@19.1722032,-103.8392444,15z/data=!4m8!1m2!2m1!1sLos+Amiales.!3m4!1s0x8425493a88c81d81:0x4fbd8d24abb1e5bd!8m2!3d19.1662866!4d-103.8344746"><span class="glyphicon glyphicon-map-marker"></span></a></span>
									
								</p>
								<p class="text2">
									<span class="bold">Jala.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Jala,+Col./@19.1277771,-103.8631992,15z/data=!3m1!4b1!4m5!3m4!1s0x8425495fbcc45277:0xb846c36506650b5e!8m2!3d19.1277777!4d-103.8544444"><span class="glyphicon glyphicon-map-marker"></span></a></span>
									
								</p>
								<p class="text">
									<span class="bold">La Piedra Coheteada, Balneario.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Piedra+Coheteada/@19.1323761,-103.8871167,17z/data=!4m8!1m2!2m1!1sLa+Piedra+Coheteada,+Balneario.!3m4!1s0x8425498bd9caea93:0x2da616625a260522!8m2!3d19.135335!4d-103.8855879"><span class="glyphicon glyphicon-map-marker"></span></a></span>
									
								</p>
								<p class="text2">
									<span class="bold">El Atrancón, Balneario.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Coquimatl%C3%A1n,+Col./@19.2056969,-103.8264686,14z/data=!3m1!4b1!4m5!3m4!1s0x84254f486fe722dd:0xda9e9103ecbdb510!8m2!3d19.203787!4d-103.8086163"><span class="glyphicon glyphicon-map-marker"></span></a></span>
								
								</p>
							
							    <p class="text">	           				            	
										
									<span class="bold">El Paraíso, Balneario.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Coquimatl%C3%A1n,+Col./@19.2056969,-103.8264686,14z/data=!3m1!4b1!4m5!3m4!1s0x84254f486fe722dd:0xda9e9103ecbdb510!8m2!3d19.203787!4d-103.8086163"><span class="glyphicon glyphicon-map-marker"></span></a></span>
					            </p>
					            <p class="text2">	           				            	
										
									<span class="bold">El Palapo.- Unidad de Manejo de Vida silvestre (UMA)<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Coquimatl%C3%A1n,+Col./@19.2056969,-103.8264686,14z/data=!3m1!4b1!4m5!3m4!1s0x84254f486fe722dd:0xda9e9103ecbdb510!8m2!3d19.203787!4d-103.8086163"><span class="glyphicon glyphicon-map-marker"></span></a></span>
					            </p>
							                
							</div>
					        <div class="modal-footer">
							    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							               
							</div>
					    </div>
					</div>
				</div> <!-- cerramos modal -->
				<!-- Modal HTML -->
				<div id="cuauh" class="modal fade">
				    <div class="modal-dialog">
				        <div class="modal-content">
					        <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title">
										Cuauhtémoc
						            </h4>
						    </div>
						    <div class="modal-body">
						    	<div class="text">
									<h5>
										El nombre proviene del idioma Náhuatl; Cuauhtli significa águila y Témoc, quiere decir descender, por lo tanto se aplica la frase “Águila que desciende sobre su presa”. 
									</h5>
								</div>
								<p class="text2">
									<span class="bold2">Principales atractivos turísticos:</span>
									
								    Entre los atractivos turísticos con que cuenta el municipio de Coquimatlán, y que son concurridos por habitantes del municipio, la región, el estado y el extranjero, se encuentran:
									
								</p>
								<p class="text">
									La mayor parte del municipio pertenece a una gran zona arqueológica que forma parte de todo un complejo dentro de la entidad. Se han descubierto tumbas prehispánicas de tiro ya saqueadas de las que se han extraído interesantes piezas de fina cerámica ritual y doméstica; orfebrería, objetos de concha, hueso y gran variedad de figuras petroglíficas.
									
								</p>
								<p class="text2">
									Existe un centro ceremonial prehispánico muy destruido llamado “De los Eneficios” a dos kilómetros de la cabecera municipal, donde aún se pueden apreciar adoratorios, pirámides y calzadas, vestigios de nuestros ancestros Náhuas. Existen cascos de coloniales ex haciendas, algunas ya restauradas.

								</p>
								<p class="text">
									El antiguo obispado de la cabecera municipal se reconstruye para un centro cultural. En el jardín central se encuentra el monumento a Cuauhtémoc, último emperador Azteca, y un busto en honor del Lic. Francisco Velasco Curiel, exgobernador del Estado de Colima, cuauhtemense de origen.
									
								</p>
								<p class="text2">
									En la unidad deportiva “Francisco Vizcaíno Fernández”, hay un busto de este singular político y deportista local. En la escuela secundaria estatal No. 5, se encuentra el busto erigido a la memoria del educador José Mora y Verduzco.
								
								</p>
							                
							</div>
					        <div class="modal-footer">
							    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							               
							</div>
					    </div>
					</div>
				</div> <!-- cerramos modal -->
				<!-- Modal HTML -->
				<div id="ixtla" class="modal fade">
				    <div class="modal-dialog">
				        <div class="modal-content">
					        <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title">
										Ixtlahuacán
						            </h4>
						    </div>
						    <div class="modal-body">
						    	<div class="text">
									<h5>
										Ixtlahuacán es un vocablo náhuatl que significa “lugar desierto, sin árboles ni habitaciones, tierra plana, valle”. Se identifica con un rectángulo horizontal y lleva unos ojos dentro o fuera de éste, en su conformación prehispánica.
									</h5>
								</div>
								<p class="text2">
									En este territorio existen varios lugares que se consideran con un valor cultural elevado, como es el Cementerio de Tumbas de Tiro, que se encuentra localizado cerca de la comunidad de Chamila, también La Gruta de San Gabriel, a la cual se le considera un adoratorio subterráneo por las características de su escalinata de piedra acomodada. 
									
								</p>
								
							                
							</div>
					        <div class="modal-footer">
							    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							               
							</div>
					    </div>
					</div>
				</div> <!-- cerramos modal -->
				<!-- Modal HTML -->
				<div id="manzanillo" class="modal fade">
				    <div class="modal-dialog">
				        <div class="modal-content">
					        <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title">
										Manzanillo
						            </h4>
						    </div>
						    <div class="modal-body">
						    	<div class="text">
									<h5>
										En el año de 1800 frente al área del muelle fiscal había un frondoso árbol de Manzanilla, de donde los lugareños tomaron el actual nombre de Manzanillo. No le podían llamar Manzanilla ya que en la zona costera de Jalisco ya existía un puerto con dicho nombre, por lo que en vez de quedar en “femenino”, quedó en “masculino”.

										Sin embargo, en lengua náhuatl, el nombre de Manzanillo es Cozcatlan, de Cozcatl (collar o gargantilla) y Tlan (lugar), que significa “Lugar de joyas, collares, gargantillas” o también “Donde se hacen collares”; a juzgar por los hallazgos arqueológicos de la región. De hecho, se decía que Salagua era proveedor de perlas o joyas a los mexicas durante el siglo XV hasta la llegada de los españoles.
									</h5>
								</div>
								<p class="text2">
									En este territorio existen varios lugares que se consideran con un valor cultural elevado, como es el Cementerio de Tumbas de Tiro, que se encuentra localizado cerca de la comunidad de Chamila, también La Gruta de San Gabriel, a la cual se le considera un adoratorio subterráneo por las características de su escalinata de piedra acomodada. 
									
								</p>
								<p class="text">
									Manzanillo.- Es la cabecera municipal. Sus principales actividades son: Portuario, turística, comercial, minera, de transformación, agrícola, pesquera, ganadera, de exportación, construcción, naviera. Se encuentra a 73 km. de la capital. 
									
								</p>

								<p class="text2">
									<span class="bold" style="font-size: 16px;">Playas certificadas:</span><br>
									<span class="bold">Playa La Audencia. Primer playa certificada del estado de Colima.</span>
									<br>
									Ubicada a media hora del centro de la ciudad, Playa La audiencia es una hermosa caleta dentro de la Península de Santiago. Es conocida por sus aguas templadas de oleaje moderado y su arena que va de tonalidades doradas a negras debido al aporte de minerales de la zona. La tonalidad de sus aguas va del verde al azul y se extienden a 500 metros de largo por 6 metros de ancho. Por su extensión y ubicación es una de las playas mas concurridas del Municipio de Manzanillo.
									
								</p>

								<p class="text">
									<span class="bold">¿Por qué fue certificada?</span>
									<br>
									Playa La Audiencia obtuvo, y mantiene su certificación por el Instituto Mexicano de Normalización y Certificación debido a las excelentes condiciones de calidad del agua, conservación, seguridad y por representar un lugar digno de uso recreativo, cumpliendo siempre con los programas  de educación ambiental, manejo de los residuos de la playa y conservación de la biodiversidad.
								</p>
								<p class="text2">
									<span class="bold">¿Qué actividades puedo realizar?</span>
									<br>
									En esta playas podrás disfrutar de servicios turísticos de alta calidad como hoteles de hasta cinco estrellas,  restaurantes con una extensa gama de platillos de la cocina local, deportes acuáticos.
								</p>					
							                
							</div>
					        <div class="modal-footer">
							    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							               
							</div>
					    </div>
					</div>
				</div> <!-- cerramos modal -->
				<!-- Modal HTML -->
				<div id="minatitlan" class="modal fade">
				    <div class="modal-dialog">
				        <div class="modal-content">
					        <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title">
										Minatitlán
						            </h4>
						    </div>
						    <div class="modal-body">
						    	<div class="text">
									<h5>
										Minatitlán significa: “Lugar dedicado a Mina” por la existencia de minas de hierro en la región. Además, el sufijo -tlan significa lugar y minati ¨mina¨ lugar-mina= lugar de mina.
									</h5>
								</div>
								<p class="text2">
									<span class="bold2">Principales atractivos turísticos:</span>
								
									Balneario y cascada “El Salto”, preciosa caída de agua de 15 metros, que cae sobre una caprichosa formación rocosa, rodeada de vegetación selvática, sus albercas y toboganes son ideales para la recreación familiar en cualquier época del año.

									“El Terrero”,conformado como una hermosa zona boscosa, preferido por su alto valor escénico, ideal para acampar por su paisaje de montaña, su clima frío y aire puro, entre los lugares turísticos más representativos, mismos que reciben a miles de visitantes cada año.
									
								</p>
											
							                
							</div>
					        <div class="modal-footer">
							    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							               
							</div>
					    </div>
					</div>
				</div> <!-- cerramos modal -->
				<!-- Modal HTML -->
				<div id="tecoman" class="modal fade">
				    <div class="modal-dialog">
				        <div class="modal-content">
					        <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title">
										Tecomán
						            </h4>
						    </div>
						    <div class="modal-body">
						    	<p class="text">
						    		Constituido como el más importante centro agrícola del estado desde la época colonial, el fruto de mayor cultivo y que le dio fama en el mundo entero es el limón. Cítrico de origen asiático, su éxito ha sido tal que es reconocido como fruto mexicano y se le denomina limón de Colima.

						    	</p>
								<p class="text2">
									Tecomán se localiza a 38 kilómetros de la ciudad de Colima, tomando la carretera Colima-Manzanillo y posee de los climas más caluroso del territorio estatal. Es la mayor zona agrícola del estado, conocido como la “Capital Mundial del Limón” desde los años sesenta, debido a que contaba con la mayor superficie plantada de este fruto en todo el mundo, su producción ha contribuido significativamente a la economía de la entidad, el cual se cultiva a gran escala desde 1955 y se ha exportado además del mango y el plátano.
									
								</p>
								<p class="text">								

									La ciudad estuvo habitada por un grupo étnico de nombre “tecos” antes de que los españoles llegaran a este sitio. El lugar donde vivían se encontraba a unos 5 kilómetros de distancia con el nombre de “Caxitlán”. En el año de 1523 Gonzalo de Sandoval (conquistador español) llegó a Caxitlán y finalmente se fundó Tecomán debido a que los españoles, es ese tiempo, lo que buscaban era dominar el país por regiones.
									
								</p>
											
							                
							</div>
					        <div class="modal-footer">
							    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							               
							</div>
					    </div>
					</div>
				</div> <!-- cerramos modal -->
				<!-- Modal HTML -->
				<div id="villa" class="modal fade">
				    <div class="modal-dialog">
				        <div class="modal-content">
					        <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                <h4 class="modal-title">
										Villa de Álvarez
						            </h4>
						    </div>
						    <div class="modal-body">
						    	<div class="text">
									<h5>
										La ciudad de Villa de Álvarez ha logrado destacarse por ofrecer zonas interesantes tanto para sus habitantes como para los turistas mexicanos y extranjeros. Cuenta con museos, balnearios, y zonas de suma importancia que le recomendamos visitar durante su viaje en este maravilloso lugar, ubicado en el estado de Colima. 
									</h5>
								</div>
								<p class="text2">
									<span class="bold">Museo José María Cruz Inda.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Jala,+Col./@19.1277771,-103.8631992,15z/data=!3m1!4b1!4m5!3m4!1s0x8425495fbcc45277:0xb846c36506650b5e!8m2!3d19.1277777!4d-103.8544444"><span class="glyphicon glyphicon-map-marker"></span></a></span>
									
								</p>
								<p class="text">
									<span class="bold">Casa de la Cultura.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Casa+de+la+Cultura+de+Villa+de+%C3%81lvarez/@19.2667966,-103.7411285,17z/data=!3m1!4b1!4m5!3m4!1s0x84254530939064bf:0x6856f452753c5e5b!8m2!3d19.2667966!4d-103.7389398"><span class="glyphicon glyphicon-map-marker"></span></a></span>
									
								</p>
								<p class="text2">
									<span class="bold">Zona Arqueológica La Campana.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Zona+Arqueol%C3%B3gica+La+Campana/@19.2678216,-103.7278472,17z/data=!3m1!4b1!4m5!3m4!1s0x84255accf815da85:0x91b4a0113cb3f18c!8m2!3d19.2678216!4d-103.7256585"><span class="glyphicon glyphicon-map-marker"></span></a></span>
								
								</p>
							
							    <p class="text">	           				            	
										
									<span class="bold">Balneario Agua Fría.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Agua+fria/@19.3031354,-103.8675819,17z/data=!3m1!4b1!4m5!3m4!1s0x842546d8de8a73f5:0xe187b6236c3a0223!8m2!3d19.3031354!4d-103.8653932"><span class="glyphicon glyphicon-map-marker"></span></a></span>
					            </p>
					            <p class="text2">	           				            	
										
									<span class="bold">Rio Picachos.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/search/rio+picachos+colima/@19.3086105,-103.8481992,15z/data=!3m1!4b1"><span class="glyphicon glyphicon-map-marker"></span></a></span>
					            </p>
					            <p class="text">	           				            	
										
									<span class="bold">El Mixcoate.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/El+Mixcoate,+Leonardo+B.+Guti%C3%A9rrez,+28089+Colima,+Col./@19.1840727,-103.8819727,11z/data=!4m5!3m4!1s0x84254fe523db8c31:0xc75423d232f13790!8m2!3d19.2230094!4d-103.7378415"><span class="glyphicon glyphicon-map-marker"></span></a></span>
					            </p>
											
							                
							</div>
					        <div class="modal-footer">
							    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							               
							</div>
					    </div>
					</div>
				</div> <!-- cerramos modal -->


		</div>	
	</div>
</div>


