<div class="col-lg-12" id="adventure">
	<div class="page-header">  	
		<h1 class="h1-strong">{{title}}</h1>
	</div>

	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/ecoturism/1.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Volcan de Fuego. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Volc%C3%A1n+de+Colima/@19.5123765,-103.6257229,15z/data=!3m1!4b1!4m5!3m4!1s0x842561433a6745d5:0x3d1d15205bfb4d16!8m2!3d19.5123568!4d-103.6169681"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			¿Sabían que el Volcán de Colima es uno de los más activos en América Central? En esta excursión, podrán admirar el volcán desde cerca en un lugar mágico y seguro!
			<br>
			<br>
			Sabían que el Volcán de Colima es uno de los más activos en América Central? En esta excursión, podrán admirar el volcán desde cerca en un lugar mágico y seguro! Después, visitamos una laguna ubicada en un ex-cráter para disfrutar de la naturaleza, caminando entre cafetales o remando en la laguna (a eligir). Conozcan también uno de los mejores cafés de la región, probando su sabor directamente donde lo producen.
			<br>
			<br>			

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/ecoturism/2.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Natura Camp (Centro Ecoturístico). <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Natura+Camp/@19.107217,-104.252014,13z/data=!4m12!1m6!3m5!1s0x84252988974ea617:0x165ece9d3d7fb56!2sNatura+Camp!8m2!3d19.107217!4d-104.252014!3m4!1s0x84252988974ea617:0x165ece9d3d7fb56!8m2!3d19.107217!4d-104.252014"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Es un campamento 100% ecológico, donde se puede apreciar la vegetación y el clima cálido típicos de la región costera. Su principal atractivo son las tirolesas, que van desde 100 hasta 450 mts de longitud por 80mts de altura y por supuesto las instalaciones construidas con eco técnicas, imprescindible para los que gustan de la aventura extrema. Para los niños cuenta con una reserva UMA (Unidad de Mantenimiento Ambiental) de venado cola blanca. Es un parque entretenido y extremo en perfecta armonia con la naturaleza.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(314) 332 1921</td>			        
			      </tr>
			      <tr>
			        <td>Horario:</td>
			        <td>9 a 17 horas.</td>			        
			      </tr> 
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1278015/natura-camp-centro-ecotur%C3%ADstico/showdetails?filter=c%3D31735">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="clearfix"></div>
	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/ecoturism/3.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Zona Mágica. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Zona+M%C3%A1gica/@19.3617238,-103.7260675,17z/data=!3m1!4b1!4m5!3m4!1s0x84255ccc31ddb31f:0x37f4bc99c4b9051f!8m2!3d19.3617238!4d-103.7238788"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			En este lugar ocurre un fenómeno extraño. Si los automóviles son puestos en neutro y se quita el pie del freno, son atraídos por una fuerza que los hace ir “hacia arriba” de la pendiente.
			<br>
			<br>
			Los autos se mueven atraídos por esta energía, y parece que retroceden solos, yendo en inexplicable reversa “hacia arriba”, a buena velocidad, desafiando por completo las leyes de la gravedad. En la zona existen restaurantes campestres para todos los presupuestos que funcionan principalmente los fines de semana. También se encuentra el temazcal que es una invitación para llenarse de energía espiritual.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Horario:</td>
			        <td>24 Hrs.</td>			        
			      </tr>   
			      <tr>
			        <td>Precio desde:</td>
			        <td>0 MXN.</td>			        
			      </tr> 
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1257331/zona-m%C3%A1gica/showdetails?filter=c%3D31735">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/ecoturism/4.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">El Remate. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/El+Remate,+Col./@19.4197419,-103.8062548,15z/data=!3m1!4b1!4m5!3m4!1s0x842569c1953a9881:0x55fb46586c07850f!8m2!3d19.4197222!4d-103.7975"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Recorridos guiados atraves de la comunidad, por la antigua hidroeléctrica, la casa de maquinas, senderismo, hospedaje en cabañas, área recreativa equipada con comedores y asadores, venta de alimentos, bebidas, artesanías y plantas naturales.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(312) 105 05 35</td>			        
			      </tr>  
			      <tr>
			        <td>Horario:</td>
			        <td>24 Hrs.</td>			        
			      </tr>   
			      <tr>
			        <td>Precio desde:</td>
			        <td>0 MXN.</td>			        
			      </tr> 
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1257331/zona-m%C3%A1gica/showdetails?filter=c%3D31735">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	
</div>