<div class="col-lg-12" id="archeology">
	<div class="page-header">  	
		<h1 class="h1-strong">{{title}}</h1>
	</div>

	<div class="panel panel-default col-lg-5 pan pull-left">
		<div class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/arch/3.png" alt="" style="width:100%;">
      			</div>

      			<div class="item">
        			<img src="../../../assets/img/arch/2.png" alt="" style="width:100%;">
     			</div>
    
		    	<div class="item">
		        	<img src="../../../assets/img/arch/1.png" alt="" style="width:100%;">
		      	</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Zona Arqueológica El Chanal.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Zona+Arqueol%C3%B3gica+El+Chanal/@19.292136,-103.7059486,15z/data=!4m2!3m1!1s0x0:0xf70a34c31bb706cb?sa=X&ved=0ahUKEwjAsoSI7uXbAhVKcq0KHawmAMAQ_BII1gEwFg"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Su nombre tiene que ver con una suerte de seres imaginarios habitantes de los arroyos que eran conocidos como “Chanos”. Debido a la gran cantidad de representaciones del Dios de la Lluvia: Tláloc, que existen en la región, es muy probable que el nombre sea un recuerdo de los mitos que debieron acompañar a su devoción y culto.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Horario</td>
			        <td>Martes a Domingo de 09:00 a 18:00 horas</td>
			      </tr>
			      <tr>
			        <td>Precio desde</td>
			        <td>40 MXN</td>
			      </tr>
			      <tr>
			        <td>Información adicional</td>
			        <td>Para los visitantes disfruten del recorrido, se recomienda llevar ropa cómoda de preferencia de camisa de manga larga, agua embotellada, sombrero u otro tipo de accesorio para cubrir la cabeza del sol, zapato de piso cerrado ya sea tenis o botas.</td>
			      </tr>
			      <tr>
			        <td>Información basada en:</td>
			        <td><a href="http://book.visitcolima.mx/es/actividad/a1264236/zona-arqueol%C3%B3gica-el-chanal/showdetails?filter=c%3D31741">Visit Colima Zona Arqueológica El Chanal</a><br><a href="http://inah.gob.mx/es/zonas/151-zona-arqueologica-el-chanal">Instituto Nacional de Antroología e Historia</a></td>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/arch/4.png" alt="" style="width:100%;">
      			</div>

      			<div class="item">
        			<img src="../../../assets/img/arch/5.png" alt="" style="width:100%;">
     			</div>
    
		    	<div class="item">
		        	<img src="../../../assets/img/arch/6.png" alt="" style="width:100%;">
		      	</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Zona Arqueológica La Campana.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Zona+Arqueol%C3%B3gica+La+Campana/@19.2678216,-103.7256585,15z/data=!4m2!3m1!1s0x0:0x91b4a0113cb3f18c?sa=X&ved=0ahUKEwjNjJGU8uXbAhUJS60KHYNoC_EQ_BIIvwEwDw"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			En tiempo de la colonial el lugar era conocido como “El potrero de la Campana”, refiriéndose a la forma trapezoidal del montículo principal del antiguo asentamiento antes de que fuera excavado, cuyo diseño era similar a la silueta de una campana. Existen datos que permiten sustentar que el nombre original del lugar fue “Almoloya”, lugar señalado en las fuentes históricas del siglo XVI como un asentamiento importante cercano al Templo de San Francisco de Almo Almoloyán, que se fundó a principios del mismo siglo con indígenas de la región.
			<br>

			La Campana es un sitio arqueológico perteneciente a la tradición Tehuchitlán, cuya característica principal son las tumbas de tiro. Este sito se desarrolló en el occidente de México paralelo a otros desarrollos regionales como Teotihuacán y Monte Albán hacia el Clásico Temprano, por lo que también es un ejemplo de los primeros asentamientos urbanos en Mesoamérica. El asentamiento cubre 132 hectáreas y se localiza entre los ríos Colima y Pereira. En el sitio se pueden observar calles y un sistema de drenaje, además de edificaciones de carácter administrativo, religioso y habitacional sobre plataformas circulares y cuadrangulares, un Juego de Pelota y un sinnúmero de petroglifos tallados en la superficie de patios y plazas. Cronología: 300 a. C. a 1500 d. C. Ubicación cronológica principal: Clásico Temprano, 100 a 600 d. C.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Horario</td>
			        <td>Martes a Domingo de 09:00 a 18:00 horas</td>
			      </tr>
			      <tr>
			        <td>Precio desde</td>
			        <td>47 MXN</td>
			      </tr>
			      <tr>
			        <td>Información adicional</td>
			        <td>Para los visitantes disfruten del recorrido, se recomienda llevar ropa cómoda de preferencia de camisa de manga larga, agua embotellada, sombrero u otro tipo de accesorio para cubrir la cabeza del sol, zapato de piso cerrado ya sea tenis o botas.</td>
			      </tr>
			      <tr>
			        <td>Información basada en:</td>
			        <td><a href="http://book.visitcolima.mx/es/actividad/a1264235/zona-arqueol%C3%B3gica-la-campana/showdetails?filter=c%3D31741http://book.visitcolima.mx/es/actividad/a1264235/zona-arqueol%C3%B3gica-la-campana/showdetails?filter=c%3D31741">Visit Colima Zona Arqueológica La Campana</a><br><a href="http://inah.gob.mx/es/zonas/53-zona-arqueologica-cerro-de-la-campana">Instituto Nacional de Antroología e Historia</a></td>
			      </tr>
			    </tbody>
			</table>
		</div>
	</div>

</div>