<div id="gastronomy">
	<div id="slider">
		<div id="gastronomyCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/food/1.png" alt="" style="width:100%;">
      			</div>

      			<div class="item">
        			<img src="../../../assets/img/food/2.png" alt="" style="width:100%;">
     			</div>
    
		    	<div class="item">
		        	<img src="../../../assets/img/food/3.png" alt="" style="width:100%;">
		      	</div>
  
    		</div>

    		<!-- Left and right controls -->
    		<a class="left carousel-control" href="#gastronomyCarousel" data-slide="prev">
      			<span class="glyphicon glyphicon-chevron-left"></span>
      			<span class="sr-only">Anterior</span>
    		</a>
    		<a class="right carousel-control" href="#gastronomyCarousel" data-slide="next">
      			<span class="glyphicon glyphicon-chevron-right"></span>
      			<span class="sr-only">Siguiente</span>
    		</a>
  		</div>
	</div>
	

	<div class="col-lg-12" >

		<div class="page-header">  	
			<h1 class="h1-strong">{{title}}</h1>
		</div>
		<div class="panel panel-default col-lg-6 pan">
			<div class="panel-body">
				<div class="text">
						<h4>“La buena cocina es resultado de los frutos de la tierra y del mar” … Colima es uno territorios estatales más pequeños del país, pero grande por sus bellezas naturales y variados sabores culinarios.</h4>
				</div>
			
				El desayuno es la primera comida del día. Se inicia con una tasa de aromático café de la zona norte del estado, donde predominan los cultivos en las comunidades de Suchitlán y Nogueras, así como en los alrededores del Pueblo Mágico de Comala. El pan dulce como las tradicionales conchas y cuernitos, picones, empanadas y semitas, ocupan un lugar muy importante en la dieta de los colimenses.
				<br>
				<br>
				Huevos al gusto, salsa y frijolitos, acompañados de unas ricas tortillas hechas a mano son la parte fuerte del desayuno.
				<br>
				<br>
				La comida principal es la del medio día. Varia según los gustos de cada familia. Generalmente se inicia con cocido o caldo de res, acompañado de papas, zanahorias y calabacitas, sazonado con unas ramas de cilantro. También se acostumbra comenzar la comida con una sopa de pasta o arroz.
				<br>
				<br>
				El plato fuerte puede ser res, carne de cerdo o pollo, tatemado, aunque también los pescados y mariscos son platillos que se acostumbra en la alimentación de los colimenses.
				<br>
				<br>
				Para la cena es momento de los antojitos. En toda la ciudad y sobre todo en Villa de Álvarez hay cenadurías donde se puede disfrutar una gama de ricos platilloa como el pozole, sopitos, sopes gordos, tostadas, enchiladas dulces o saladas, tacos dorados, flautas, tamales y atole.
				<br>
				<br>
				También las bebidas tienen en Colima una gran personalidad. De la tuba lo menos que puede decirse es que es nutritiva y refrescante. Se acostumbra a tomar muy temprano, se puede encontrar natural y compuesta la cual lleva ingredientes como manzana, fresa, pepino y cacahuate.
				<br>
				<br>
				El tejuino es una bebida muy refrescante hecha a base de maíz con piloncillo, a la que se le agrega un poco de limón y sal.
				<br>
				<br>
				Una bebida que se merece un elogio especial es el bate, se hace con una semilla silvestre llamada chan o chía gorda. Se toma con abundante hielo y se agrega miel de piloncillo, para darle un mejor sabor.
				<br>
				<br>
				Los ponches son bebidas ligeras hechas con tuxca (aguardiente de agave) o con alcohol de caña. El más famoso es el que tiene granos de granada frescos y que toma un color rubí, pero se hace también de cacahuate, café, pistache, almendra, tamarindo, entre otros sabores. En temporada de calor se toman bien fríos y en temporada de invierno se toman calientes.
				<br>
				<br>
				Los dulces son muy abundantes en la mesa de las familias colimenses. Se sirven como postres o se toman como golosinas a cualquier hora del día. El más famoso ha sido el alfajor de coco, aunque también se pueden encontrar borrachitos, cocadas, dulces de leche, entre otros igual de sabrosos.
				<br>
				<br>

			</div>
		</div>
	</div>
</div>