<div class="col-lg-12" id="adventure">
	<div class="page-header">  	
		<h1 class="h1-strong">{{title}}</h1>
	</div>

	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/cultura/1.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Museo de las Culturas de Occidente María Ahumada de Gómez. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Museo+de+las+Culturas+de+Occidente+Mar%C3%ADa+Ahumada+de+G%C3%B3mez/@19.24295,-103.7165997,17z/data=!3m1!4b1!4m5!3m4!1s0x84255aa687887b3f:0x748cc0fc5fa11c1a!8m2!3d19.2429449!4d-103.714411"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Forma parte de las instalaciones de la Casa de la Cultura de la ciudad. Fue construido ex profeso e inaugurado el 1 de diciembre de 1980 con el objetivo de preservar y difundir el patrimonio arqueológico de los pueblos prehispánicos que habitaron el territorio de Colima.
			<br>
			<br>
			Cuenta con 11 salas permanentes denominadas Mesoamérica y Occidente; Colima (secuencia cronológica); Lítica; Tipo físico; Fauna y flora; Trabajo y tecnología; Indumentaria y guerra; Arquitectura; Religión; Música; y Arte. Cuenta, asimismo, con servicio de visitas guiadas y tienda.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(314) 332-5373</td>			        
			      </tr>
			      <tr>
			        <td>Nombre de contacto:</td>
			        <td>Felipe Delgado Carrillo</td>			        
			      </tr>
			      <tr>
			        <td>Horario:</td>
			        <td>Martes a domingo, 10:00 - 18:00 hrs.</td>			        
			      </tr>
			      <tr>
			        <td>Precio desde:</td>
			        <td>0 MXN</td>			        
			      </tr>
			      
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1258089/museo-de-las-culturas-de-occidente-mar%C3%ADa-ahumada-de-g%C3%B3mez/showdetails?filter=c%3D31740">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/cultura/2.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Museo de Ciencia y Tecnología Xoloitzcuintle. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Museo+Interactivo+Xoloitzcuintle/@19.239686,-103.7163398,17z/data=!3m1!4b1!4m5!3m4!1s0x84255aa709408fd1:0x94d618e5e197feaa!8m2!3d19.2396809!4d-103.7141511"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Espacio de ciencia y tecnología diseñado para que niños y jóvenes aprendan con un contenido lúdico. Ubicado en la parte trasera del recién remodelado Complejo Cultural, Recreativo y Deportivo La Piedra Lisa, el museo cuenta con un planetario para 78 personas, con domo de proyección en sistema dual y una pantalla curva para crear efectos en tercera dimensión.
			<br>
			<br>
			Su observatorio está equipado con un telescopio de gran potencia, mediante el cual se podrán observar los cuerpos celestes; también contará con un telescopio solar y otro lunar. Una maqueta a gran escala de un volcán muestra las capas que lo conforman. En un simulador de huracanes los visitantes podrán experimentar la velocidad del viento de este tipo de fenómenos naturales. Otros juegos son las bases para crear burbujas gigantes. La explicación y funcionamiento de las placas tectónicas, los principios de la palanca, un brazo robótico que arma rompecabezas, un muro pines que explica la conformación de una imagen a través de pixeles, un graficador de ondas de audio y un generador de energía. El museo está rodeado de un entorno ecológico de áreas verdes, con islas sombreadas que tendrán conexión gratuita a Internet.
			<br>
			<br>
			En el estado de Colima se han encontrado figuras en barro de parejas de perros xoloitzcuintle como si estuvieran bailando; su interpretación es que un perro viejo está transmitiendo sus conocimientos a un perro joven. Es en este sentido que el Museo de Ciencia y Tecnología Xoloitzcuintle, representa un espacio en el cual se transmitirá conocimiento científico y tecnológico a todos los que lo visiten.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(312) 314 1533</td>			        
			      </tr>
			      <tr>
			        <td>Nombre de contacto:</td>
			        <td>Leonel Maciel Ramírez</td>			        
			      </tr>
			      <tr>
			        <td>Horario:</td>
			        <td>	De martes a viernes, 10:00 - 13:30 hrs. y 16:00 - 18:00 hrs. sábado y domingo, 14:00 - 18:00 hrs.</td>			        
			      </tr>
			      <tr>
			        <td>Precio desde:</td>
			        <td>15 MXN</td>			        
			      </tr>
			      
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1258087/museo-de-ciencia-y-tecnolog%C3%ADa-xoloitzcuintle/showdetails?filter=c%3D31740">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="clearfix"></div>
	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/cultura/3.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Museo Griselda Álvarez. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Museo+Griselda+Alvarez/@19.2376503,-103.7367326,17z/data=!3m1!4b1!4m5!3m4!1s0x84254555dba3af95:0x67c74b8b4e634368!8m2!3d19.2376452!4d-103.7345439"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			El Museo Griselda Álvarez es un museo ubicado en el Parque Regional Metropolitano de la ciudad de Colima. Fue inaugurado en el 10 de enero de 2009 por el gobernador Silverio Cavazos, develando el el medallón-escultura elaborado por Rafael Zamarripa a la entrada del museo. En él se exponen objetos que permiten conocer parte de la vida personal, creativa y pública de la primer gobernadora de México.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(312) 314 1676</td>			        
			      </tr>
			      <tr>
			        <td>Nombre de contacto:</td>
			        <td>Felipe Delgado Carrillo</td>			        
			      </tr>
			      <tr>
			        <td>Horario:</td>
			        <td>De martes a viernes, 10:00 - 16:00 hrs. sábado y domingo, 10:00 - 18:00 hrs.</td>			        
			      </tr>
			      <tr>
			        <td>Precio desde:</td>
			        <td>15 MXN</td>			        
			      </tr>
			      
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1258104/museo-griselda-%C3%81lvarez/showdetails?filter=c%3D31740">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/cultura/4.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Museo Universitario Alejandro Rangel Hidalgo.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Museo+Universitario+Alejandro+Rangel+Hidalgo+Nogueras,+Comala/@19.3234235,-103.7421326,17z/data=!3m1!4b1!4m5!3m4!1s0x842544a8adcd8e4b:0xf1d39b1a151011d1!8m2!3d19.3234185!4d-103.7399439"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Ubicado junto a la capilla de la ex Hacienda Nogueras, construida a finales del siglo XVII, considerada como la más antigua del estado de Colima. Tiene como objetivo difundir el acervo arqueológico y el trabajo de los artesanos de la región. Las piezas arqueológicas que exhibe, algunas de las cuales datan de los años 600 a 500 a.C.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(312) 3156 028</td>			        
			      </tr>
			      <tr>
			        <td>Email de contacto:</td>
			        <td>alejandro_rangel@ucol.mx/td>			        
			      </tr>
			      <tr>
			        <td>Horario:</td>
			        <td>De martes a domingo, 10:00 - 18:00 hrs. Cerrado los lunes.</td>			        
			      </tr>
			      <tr>
			        <td>Precio desde:</td>
			        <td>10 MXN</td>			        
			      </tr>
			      
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1258113/museo-universitario-alejandro-rangel-hidalgo/showdetails?filter=c%3D31740">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	
</div>