<div id="history">
	<div id="slider">
		<div id="historyCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/history/1.png" alt="" style="width:100%;">
      			</div>

      			<div class="item">
        			<img src="../../../assets/img/history/2.png" alt="" style="width:100%;">
     			</div>
    
		    	<div class="item">
		        	<img src="../../../assets/img/history/3.png" alt="" style="width:100%;">
		      	</div>
  
    		</div>

    		<!-- Left and right controls -->
    		<a class="left carousel-control" href="#historyCarousel" data-slide="prev">
      			<span class="glyphicon glyphicon-chevron-left"></span>
      			<span class="sr-only">Anterior</span>
    		</a>
    		<a class="right carousel-control" href="#historyCarousel" data-slide="next">
      			<span class="glyphicon glyphicon-chevron-right"></span>
      			<span class="sr-only">Siguiente</span>
    		</a>
  		</div>
	</div>
	

	<div class="col-lg-12" >

		<div class="page-header">  	
			<h1 class="h1-strong">{{title}}</h1>
		</div>
		<div class="panel panel-default col-lg-6 pan">
			<div class="panel-body">
			
				El nombre de Colima proviene de “Colliman” palabra náhuatl con que se designaba al antiguo reino o señorío: Colli, significa cerro, volcán o abuelo y Maitl, mano o dominio, es decir: “Lugar conquistado por nuestros abuelos”, o “Lugar donde domina el Dios viejo o Dios del fuego”, refiriéndose al volcán.

				La región que hoy ocupa el estado de Colima fue asiento de varias culturas prehispánicas que florecieron en el Occidente Mexicano.
				<br>
				<br>
				A principios del siglo XVI, los Purépechas o Tarascos se lanzaron a la conquista del territorio de los Tecos y llegaron hasta las salitreras de Tzacoalco; sin embargo, el Hueytlatoani Colimotl los derrotó en la conocida “Guerra del Salitre”. A su victoria sobre los purépechas, los Tecos emprendieron a su vez la conquista de Sayula, Zapotlán y Amula, logrando que el reino de Colima se convirtiera en un grupo predominante.
				<br>
				<br>		 

				Después de la toma de Tenochtitlán por los españoles y de haber subordinado a los purépechas, incursionaron en estas tierras y fueron derrotados por los Tecos, por lo que Hernán Cortés envió otra expedición, la cual confió a Gonzalo de Sandoval, derrotando a los Tecos en el Paso de Alima y en el Palenque de Tecomán.
				<br>
				<br>

				Al consumarse la Conquista, Gonzalo de Sandoval fundó en Caxitlán la Villa de Colima el 25 de Julio de 1523, estableciendo así el segundo Ayuntamiento del Occidente de la Nueva España; sin embargo la insalubridad imperante determinó que la Villa fuera trasladada al lugar que hoy ocupa, el 20 de Enero de 1527. En 1524 llegó a Colima Don Francisco Cortés con el nombramiento de Alcalde Mayor de la Nueva Villa. De esta manera se inició la época colonial en la provincia de Colima, que con el tiempo aumentaría sus dimensiones, gracias al sometimiento de los pueblos de la costa del norte y durante la cual, sus costas cobraron gran importancia, ya que en 1533 Don Hernando de Grijalva descubrió el Archipiélago de Revillagigedo. El Puerto de Tzalahua se constituyó durante los 300 años del dominio español en un sitio de defensa y en importante centro comercial.
				<br>
				<br>		 

				Durante la Guerra de Independencia, la Ciudad de Colima fue tomada por los insurgentes a finales de 1810, sin encontrar resistencia y fue recuperada por los realistas en 1811. La Constitución de 1857 elevó a Colima a la categoría de Estado Libre y Soberano.
				<br>

			</div>
		</div>
	</div>
</div>