<div class="col-lg-12" id="adventure">
	<div class="page-header">  	
		<h1 class="h1-strong">{{title}}</h1>
	</div>

	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/playas/1.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Playa "Boca de Pascuales".<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Boca+de+Pascuales,+Col./@18.8574994,-103.9712547,15z/data=!3m1!4b1!4m8!1m2!2m1!1sPlaya+%22Boca+de+Pascuales%22!3m4!1s0x843ac887db9ebd87:0x10d01c14367ff6e4!8m2!3d18.8574999!4d-103.9624999"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Es mar abierto y de aguas profundas. En dicha playa podrán observar la desembocadura del río Armería. Su oleaje es fuerte lo cual la hace ideal para la práctica del surfing.
			<br>
			<br>
			Es de las más populares y concurridas del municipio de Tecomán, debido a que también en dicha playa se realizan varios torneos deportivos cada año. Los restaurantes del sitio han cobrado fama gracias a los exquisitos platillos que ofrecen, como los langostinos al mojo de ajo y el pescado zarandeado.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>			      
			      <tr>
			        <td>Horario:</td>
			        <td>24 HR</td>			        
			      </tr>
			      <tr>
			        <td>Precio desde:</td>
			        <td>0 MXN</td>			        
			      </tr>
			      
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1257335/playa-boca-de-pascuales/showdetails?filter=c%3D31742">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/playas/2.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Playa "La Audiencia".<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Playa+la+Audiencia/@19.1042761,-104.3515725,18z/data=!3m1!4b1!4m5!3m4!1s0x8424d69980b6ec97:0x36c778360243bf85!8m2!3d19.1037612!4d-104.3496429"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
				Ubicada a media hora del centro de la ciudad, Playa La audiencia es una hermosa caleta dentro de la Península de Santiago. Es conocida por sus aguas templadas de oleaje moderado y su arena que va de tonalidades doradas a negras debido al aporte de minerales de la zona. La tonalidad de sus aguas va del verde al azul y se extienden a 500 metros de largo por 6 metros de ancho. Por su extensión y ubicación es una de las playas mas concurridas del Municipio de Manzanillo.
				<br>
				<br>
				¿Por qué fue certificada?
				<br>
				<br>
				Playa La Audiencia obtuvo, y mantiene su certificación por el Instituto Mexicano de Normalización y Certificación debido a las excelentes condiciones de calidad del agua, conservación, seguridad y por representar un lugar digno de uso recreativo, cumpliendo siempre con los programas de educación ambiental, manejo de los residuos de la playa y conservación de la biodiversidad.
				<br>
				<br>
				¿Qué actividades puedo realizar?
				<br>
				<br>
				En esta playas podrás disfrutar de servicios turísticos de alta calidad como hoteles de hasta cinco estrellas, restaurantes con una extensa gama de platillos de la cocina local, deportes acuáticos.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>			      
			      <tr>
			        <td>Horario:</td>
			        <td>08:00 a 20:00 hrs.</td>			        
			      </tr>
			      <tr>
			        <td>Precio desde:</td>
			        <td>0 MXN</td>			        
			      </tr>
			      
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1258014/playa-la-audiencia/showdetails?filter=c%3D31742">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="clearfix"></div>
	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/playas/3.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Playa “Cuyutlán”.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Playa+Cuyutlan/@18.9176254,-104.0736479,17z/data=!3m1!4b1!4m5!3m4!1s0x843ace6dda1e1c29:0x491e2f871a23d4ed!8m2!3d18.9176254!4d-104.0714592"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Es famosa por su “Ola Verde”, la cual alcanza la impresionante altura de hasta 8 metros en los meses de abril a junio.
			<br>
			<br>
			Actualmente hay numerosos hoteles, restaurantes de todas las categorías, pequeñas tiendas de artesanías y un malecón que une a la zona hotelera con la playa. Las sombrillas sobre la fina arena ofrecen un lugar para descansar a la orilla de la playa, mientras disfrutas de algún platillo de mariscos, un coco natural o preparado con algún licor.
			<br>
			<br>
			Playa de oleaje fuerte que contrasta con su arena gris oscura y los multicolores de las sombrillas asentadas a la orilla, además de diversas opciones para hospedarse a precios accesibles, así como ramadas que ofrecen las delicias del mar a lo largo del malecón.
			<br>
			<br>
			Actividades y servicios: Surf, windsurf, campismo, ecoturismo, museos, hoteles y restaurantes.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			    <tr>
			        <td>Horario:</td>
			        <td>24 HR.</td>			        
			      </tr>
			      <tr>
			        <td>Precio desde:</td>
			        <td>0 MXN</td>			        
			      </tr>  
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1257336/playa-%E2%80%9Ccuyutl%C3%A1n%E2%80%9D/showdetails?filter=c%3D31742">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/playas/4.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Playa “La Boquita”.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Club+Santiago,+28868+Manzanillo,+Col./@19.1167324,-104.3986729,15z/data=!3m1!4b1!4m5!3m4!1s0x8424d1478c203dbb:0xf0d93a78399292f!8m2!3d19.1165712!4d-104.3951953"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Playa La Boquita en Manzanillo, es un área tranquila para familias con niños.
			El ingreso es por el Club Santiago, donde se recorre un desarrollo habitacional de un kilómetro aproximadamente, seguido por un tramo de terracería en medio de la selva, que termina en una hilera de enramadas donde encontrará varios restaurantes con techos de palapa.
			<br>
			<br>
			Esta zona es propicia para la caminata y la natación; el mar tiene un oleaje bastante tranquilo. Servicios que ofrecen: snorkel, restaurantes, souvenirs. Tan sólo a tres Km de Miramar.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Horario:</td>
			        <td>8:00 a 20:00 hrs.</td>			        
			      </tr>
			      <tr>
			        <td>Precio desde:</td>
			        <td>0 MXN</td>			        
			      </tr>
			      
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1257352/playa-%E2%80%9Cla-boquita%E2%80%9D/showdetails?filter=c%3D31742">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	
</div>