<div class="col-lg-12" id="adventure">
	<div class="page-header">  	
		<h1 class="h1-strong">{{title}}</h1>
	</div>

	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/golf/1.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Campo de Golf Altozano. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Altozano+El+Nuevo+Colima/@19.3185186,-103.6688523,17z/data=!3m1!4b1!4m5!3m4!1s0x84255b976741e1a9:0x81e6c1341a360a10!8m2!3d19.3185136!4d-103.6666636"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			El campo de golf está desarrollado con los más altos estándares de calidad en 673,000 m2, es diseño de Carter Morrish y Rafael Alarcón, de 18 hoyos par 70, con 6,682 yardas con un balance perfecto entre la naturaleza, diseño y el buen golf.
			<br>
			<br>
			Sus grandes fairways de bermuda, tee de práctica de más de 300 yardas, 3 lagos y sus árboles centenarios, harán de tu ronda de golf un día inolvidable. Cuenta con 6 hermosos par 3 y, se caracteriza por su arena blanca en los bunkers.
			<br>
			<br>
			1. Belleza y reto: Los hoyos más retadores del campo de golf son el 13, 14 y 15 nombrado por los jugadores como el triangulo de las bermudas, donde se puede admirar la belleza de dos de sus lagos.
			<br>
			<br>
			2. Vistas espectaculares: En Altozano disfruta de los paisajes más hermosos y exuberantes de la región. Admira una inmejorable vista a nuestro Volcán de Colima.
			<br>
			<br>
			3. Clínicas de golf: Nada mejor que aprender a jugar golf en el mejor campo de la región y lo mejor es que para este magnífico deporte no hay edad.
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(312) 68 8 10 10</td>			        
			      </tr>
			      <tr>
			        <td>Email de contacto:</td>
			        <td>ventas@elnuevocolima.com</td>			        
			      </tr>
			      <tr>
			        <td>Sitio web:</td>
			        <td><a href="http://www.altozano-colima.com/">http://www.altozano-colima.com/</a></td>			        
			      </tr>
			      <tr>
			        <td>Horario:</td>
			        <td>Los horarios son proporcionados por el mismo contacto.</td>			        
			      </tr> 
			      <tr>
			        <td>Precio desde:</td>
			        <td>945 MXN.</td>			        
			      </tr> 
			      <tr>
			        <td>Información sobre precios:</td>
			        <td>Diferentes paquetes.</td>			        
			      </tr> 
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1268505/campo-de-golf-altozano/showdetails?filter=c%3D31739">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>		

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/golf/2.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Campo de Golf del Club Santiago. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps?q=Campo+de+Golf+del+Club+Santiago&rlz=1C1NHXL_esMX758MX758&biw=1292&bih=653&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiIjL7pm-7bAhVPZawKHbZHC1UQ_AUICygC"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			El campo del Club Santiago Country Club esta rodeado por majestuosas montañas y exuberante tierra tropical, colindando con hermosas áreas residenciales.
			<br>
			<br>
			Este campo de 9 hoyos diseñado por Larry Hugges incluye distintas salidas para el juego de 9 o 18 hoyos.
			<br>
			<br>
			Ofrece los servicios de una barra de antojitos, tienda de artículos de golf, renta de carros y equipo, así como caddies.
			<br>
			<br>
			Perfecciona tus habilidades con una lección en nuestro Pro y aplica tus nuevas técnicas o sólo practica en el green o pista de práctica, disfruta lo mejor del golf en nuestro bien cuidado y artísticamente proyectado campo, con el mejor clima de México.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(314) 335 03 70</td>			        
			      </tr>
			      <tr>
			        <td>Email de contacto:</td>
			        <td>informacion@clubdegolfsantiago.com</td>			        
			      </tr>
			      <tr>
			        <td>Horario:</td>
			        <td>7:00 a 16:00 horas.</td>			        
			      </tr>
			      <tr>
			        <td>Precio:</td>
			        <td>575 MXN.</td>			        
			      </tr> 
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1268507/campo-de-golf-del-club-santiago/showdetails?filter=c%3D31739">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="clearfix"></div>
	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/golf/3.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Isla Navidad Country Club. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Grand+Isla+Navidad+Resort/@19.1889733,-104.6887702,15z/data=!4m10!1m2!2m1!1sIsla+Navidad+Country+Club!3m6!1s0x8424b8406cff7879:0x335355aaf8dc4f92!5m1!1s2018-06-30!8m2!3d19.1953979!4d-104.6840751"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			El campo de 27 hoyos es uno de los dos campos de golf en México que ha merecido la distinción del premio “Golf Medal Award”, otorgado por la revista Golf Magazine y fue nombrado como "Mexico's Leading Golf Resort 2012" por World Travel Awards.
			<br>
			<br>
			En sus espectaculares vistas de áreas verdes esculpidas entre dunas de fina arena, resalta como fondo la montaña.
			<br>
			<br>
			Fue diseñado por el famoso arquitecto Robert von Hagge, quien aprovechó las laderas densamente vegetadas, las lagunas de agua fresca y una extensa playa para darnos un conjunto de belleza inigualable y además, una espléndida experiencia visual. Los tres campos de 9 hoyos cada uno: el Océano, la Montaña y la Laguna, tienen el mismo carácter, pero son, no obstante, muy diferentes el uno del otro en muchos aspectos y pueden ser disfrutados por golfistas de cualquier nivel.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(314) 331 0500</td>			        
			      </tr>
			      <tr>
			        <td>Email de contacto:</td>
			        <td>progolf@islaresort.com.mx</td>			        
			      </tr>
			      <tr>
			        <td>Sitio web:</td>
			        <td><a href="http://www.islanavidad.com.mx/site/ES/golf.php">http://www.islanavidad.com.mx/site/ES/golf.php/</a></td>			        
			      </tr>
			      <tr>
			        <td>Horario:</td>
			        <td>07:00 a 16:00 horas.</td>			        
			      </tr>
			      <tr>
			        <td>Información sobre precios:</td>
			        <td>Los precios son proporcionados por el contacto.</td>			        
			      </tr> 
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1268510/isla-navidad-country-club/showdetails?filter=c%3D31739">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>		

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/golf/4.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Las Hadas Golf Club. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Las+Hadas+Club+de+Golf/@19.1048821,-104.3496995,16z/data=!4m8!1m2!2m1!1sLas+Hadas+Golf+Club!3m4!1s0x8424d68fbffb3375:0x3636b2167a2a6c64!8m2!3d19.1089629!4d-104.3426067"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			“Las Hadas” de 18 hoyos, es uno de los campos de golf tropicales más bellos del mundo. Diseñado por los mundialmente famosos Pete y Roy Dye. Entre sus múltiples atractivos está el serpenteante Río Salahua que forma recodos que hacen de cada tiro un reto y al mismo tiempo una experiencia memorable.
			<br>
			<br>
			El famoso campo de golf “Las Hadas” con 18 hoyos, es uno de los mejores 100 en el mundo, debido a que 14 de los 18 hoyos cruzan agua. 
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(314) 331 0101</td>			        
			      </tr>  
			      <tr>
			        <td>Email:</td>
			        <td>lashadas@brisas.com.mx</td>			        
			      </tr> 
			      <tr>
			        <td>Horario:</td>
			        <td>7:00 a 17:00 horas</td>			        
			      </tr>   
			      <tr>
			        <td>Precios:</td>
			        <td>Los precios son proporcionados por el contacto.</td>			        
			      </tr> 
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1269027/las-hadas-golf-club/showdetails?filter=c%3D31739">Visit Colima</a>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	
</div>