<div class="col-lg-10" id="add">
	<div class="page-header">  	
		<h3 class="h1-strong">{{title}}</h3>
	</div>
	<div class="alert alert-success pan" *ngIf="status == 'success'">
			Haz enviado un nuevo mensaje, lo puedes encontrar en <a [routerLink]="['/mensajes/enviados']"> mensajes enviados.</a>
	</div>
	<div class="alert alert-danger pan" *ngIf="status == 'error'">
		No se ha podido enviar el mensaje. Inténtalo más tarde. 
	</div>
	<!-- Formulario de envio de mensajes -->
	<div class="panel panel-default pan">
		
		<form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)" id="formAdd">
			<p>
				<label>Para:</label>
				<!-- listado de followers -->
				<select *ngIf="users" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
					<option *ngFor="let usario of users" value="{{usario._id}}">
						{{usario.name + ' ' + usario.suname + ' (' + usario.nickname + ')'}}
					</option>
				</select>
			</p>
			<p>
				<label>Mensaje:</label>
				<textarea id="textarea" name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required></textarea>
				<span *ngIf="!text.valid && text.touched">
					El mensaje es necesario.
				</span>
			</p>

			<input type="submit" value="{{title}}" class="btn btn-success">
			

		</form>
	</div>
</div>