<div class="col-lg-12" id="adventure">
	<div class="page-header">  	
		<h1 class="h1-strong">{{title}}</h1>
	</div>

	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="fishCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/pesca/1.png" alt="" style="width:100%;">
      			</div>

      			<div class="item">
        			<img src="../../../assets/img/pesca/2.png" alt="" style="width:100%;">
     			</div>
    
		    	<div class="item">
		        	<img src="../../../assets/img/pesca/3.png" alt="" style="width:100%;">
		      	</div>
  
    		</div>
    		<!-- Left and right controls -->
    		<a class="left carousel-control" href="#fishCarousel" data-slide="prev">
      			<span class="glyphicon glyphicon-chevron-left"></span>
      			<span class="sr-only">Anterior</span>
    		</a>
    		<a class="right carousel-control" href="#fishCarousel" data-slide="next">
      			<span class="glyphicon glyphicon-chevron-right"></span>
      			<span class="sr-only">Siguiente</span>
    		</a>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">De pesca en Manzanillo.</h3>
			<div class="clearfix"></div>
			Los amantes de la pesca deportiva no encontrarán mejor lugar donde esparcir su pasión.
			<br>
			<br>
			No por nada Manzanillo es conocida como "La Capital Mundial del Pez Vela", titulo que obtuvo en el año de 1957 gracias a que el número de peces capturados superó al de otras regiones ; se capturaron 336 peces vela con la participación de tan solo 124 concursantes.
			<br>
			<br>
			Cada año en el mes de noviembre, Manzanillo celebra el "Torneo Internacional del Pez Vela" / "Manzanillo International Sailfish Tournament", los mejores competidores nacionales y extranjeros acuden al puerto para dar lugar a este magno evento.

			<br>
			<br>
			<br>
			<h4>Negocios recomendados:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Albatros</td>
			        <td>(314) 332-5373</td>
			        <td><a target="_blank" style="font-size: 30px; margin: 0 !important; padding-right: 20px;" class="pull-right" href="https://www.google.com.mx/maps/place/Prol+Ni%C3%B1os+H%C3%A9roes+208,+Sector+8,+28259+Manzanillo,+Col./@19.0551695,-104.3032014,17z/data=!3m1!4b1!4m5!3m4!1s0x8424d59da8edee8d:0xe84a99ead02ff5f9!8m2!3d19.0551695!4d-104.3010127"><span class="glyphicon glyphicon-map-marker"></span></a></td>
			      </tr>
			      <tr>
			        <td>Buceo Neptuno</td>
			        <td>(314) 334-3001(314) 334-3002 (fax)</td>
			        <td><a target="_blank" style="font-size: 30px; margin: 0 !important; padding-right: 20px;" class="pull-right" href="https://www.google.com.mx/maps?q=Km.+14.5+Blvd.+Miguel+de+la+Madrid+Manzanillo+Colima&rlz=1C1NHXL_esMX758MX758&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiAlp-6_eXbAhUJKKwKHTsoDBcQ_AUICigB"><span class="glyphicon glyphicon-map-marker"></span></a></td>
			      </tr>
			      <tr>
			        <td>Tlaloc Tours</td>
			        <td>314 - 334 1180 <br>624 1897561</td>
			        <td><a target="_blank" style="font-size: 30px; margin: 0 !important; padding-right: 20px;" class="pull-right" href="https://www.google.com.mx/maps/place/Tlaloc+Tours/@19.1200213,-104.3600371,15z/data=!4m5!3m4!1s0x0:0xc823bcd34936f9cb!8m2!3d19.1200213!4d-104.3600371"><span class="glyphicon glyphicon-map-marker"></span></a></td>
			      </tr>
			      <tr>
			        <td>Información adicional</td>
			        <td>Para los visitantes disfruten del recorrido, se recomienda llevar traje de baño, toalla, gorra o sombrero, bloqueador solar, cámara de foto y/o de video, zapatos o sandalias cómodas y, si lo consideras necesario, medicina contra mareos.</td>
			      </tr>
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="https://www.tlaloctours.com/">Tlaloc Tours</a><br><a target="_blank" href="https://www.dolphincoveinn.com/es/vacaciones-en-manzanillo/pesca">Dolphin Cove Inn</a><br><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1215234/tour-de-pesca/showdetails?filter=c%3D31737">Visit Colima</a><br><a target="_blank" href="https://www.travelbymexico.com/manzanillo/atractivos/?nom=emanpesca">Travel By México</a></td>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div id="stoneCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/balneareo-piedra/1.png" alt="" style="width:100%;">
      			</div>

      			<div class="item">
        			<img src="../../../assets/img/balneareo-piedra/2.png" alt="" style="width:100%;">
     			</div>
    
		    	<div class="item">
		        	<img src="../../../assets/img/balneareo-piedra/3.png" alt="" style="width:100%;">
		      	</div>
  
    		</div>
    		<!-- Left and right controls -->
    		<a class="left carousel-control" href="#stoneCarousel" data-slide="prev">
      			<span class="glyphicon glyphicon-chevron-left"></span>
      			<span class="sr-only">Anterior</span>
    		</a>
    		<a class="right carousel-control" href="#stoneCarousel" data-slide="next">
      			<span class="glyphicon glyphicon-chevron-right"></span>
      			<span class="sr-only">Siguiente</span>
    		</a>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Balneario La Piedra Coheteada.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Piedra+Coheteada/@19.135335,-103.8877766,17z/data=!3m1!4b1!4m5!3m4!1s0x8425498bd9caea93:0x2da616625a260522!8m2!3d19.135335!4d-103.8855879"><span class="glyphicon glyphicon-map-marker"></span></a> </h3>
			<div class="clearfix"></div>
			Es un lugar turístico de estanques naturales de agua nacida ahí mismo y atractivos paisajes de gran belleza; se puede llegar en vehículo por camino balastreado y entroncado a la carretera Coquimatlán-Pueblo Juárez, a sólo diez minutos de la cabecera municipal.
			<br>
			<br>
			Exuberancia… abundancia de todo; la selva tropical esplendorosa; aguas diáfanas y frescas; ecoturismo, campismo, turismo de aventura y senderismo. La Piedra Coheteada debe su nombre a la práctica, por suerte ya obsoleta, de lanzar explosivos en el estanque para atrapar chacales y peces. Actualmente el gobierno federal, el ayuntamiento y la asociación de chacaleros, vigilan para que no se repita esta barbarie.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Horario</td>
			        <td>24/7</td>
			      </tr>
			      <tr>
			        <td>Precio desde</td>
			        <td>0 MXN</td>
			      </tr>
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1256207/balneario-%E2%80%9Cla-piedra-coheteada%E2%80%9D/showdetails?filter=c%3D31737">Visit Colima</a></td>
			      </tr>
			    </tbody>
			</table>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="chicalCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/balneareo-huertas/1.png" alt="" style="width:100%;">
      			</div>

      			<div class="item">
        			<img src="../../../assets/img/balneareo-huertas/2.png" alt="" style="width:100%;">
     			</div>
    
		    	<div class="item">
		        	<img src="../../../assets/img/balneareo-huertas/3.png" alt="" style="width:100%;">
		      	</div>
		      	<!-- Left and right controls -->
	    		<a class="left carousel-control" href="#chicalCarousel" data-slide="prev">
	      			<span class="glyphicon glyphicon-chevron-left"></span>
	      			<span class="sr-only">Anterior</span>
	    		</a>
	    		<a class="right carousel-control" href="#chicalCarousel" data-slide="next">
	      			<span class="glyphicon glyphicon-chevron-right"></span>
	      			<span class="sr-only">Siguiente</span>
	    		</a>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Balneario Las Huertas del Chical.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Huertas+del+Chical/@19.2292657,-103.849766,15z/data=!4m5!3m4!1s0x0:0x80834879c2438719!8m2!3d19.2292657!4d-103.849766"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Las Huertas del Chical es ideal para la práctica del senderismo, excursionismo y bicicleta de montaña, cruzando el puente colgante que sirve a quienes habitan en la comunidad para cruzar el Río Armería en la época de lluvias en que crece el afluente.
			<br>
			<br>
			A 20 minutos de la capital del estado y a 10 de la cabecera municipal se encuentra la localidad de El Chical, en este sitio los visitantes podrán disfrutar de un bello lugar llamado Las Huertas, en donde existe un manantial que nutre de cristalina y fresca agua los estanques en donde se puede bañar toda la familia, este espacio se encuentra en medio de una huerta de los árboles frutales denominados en la región como “chicos”, fruta amameyada de singular sabor.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Horario</td>
			        <td>9:00 a 19:00 hrs</td>
			      </tr>
			      <tr>
			        <td>Precio desde</td>
			        <td>20 MXN</td>
			      </tr>
			      <tr>
			        <td>Información de precios</td>
			        <td>Precio por carro</td>
			      </tr>
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1256211/balneario-%E2%80%9Clas-huertas-del-chical%E2%80%9D/showdetails?filter=c%3D31737">Visit Colima</a></td>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div id="amialesCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/balneario-amiales/1.png" alt="" style="width:100%;">
      			</div>

      			<div class="item">
        			<img src="../../../assets/img/balneario-amiales/2.png" alt="" style="width:100%;">
     			</div>
    
		    	<div class="item">
		        	<img src="../../../assets/img/balneario-amiales/3.png" alt="" style="width:100%;">
		      	</div>
  
    		</div>

    		<!-- Left and right controls -->
	    		<a class="left carousel-control" href="#amialesCarousel" data-slide="prev">
	      			<span class="glyphicon glyphicon-chevron-left"></span>
	      			<span class="sr-only">Anterior</span>
	    		</a>
	    		<a class="right carousel-control" href="#amialesCarousel" data-slide="next">
	      			<span class="glyphicon glyphicon-chevron-right"></span>
	      			<span class="sr-only">Siguiente</span>
	    		</a>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Balneario Los Amiales. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Piedra+Coheteada/@19.135335,-103.8877766,17z/data=!3m1!4b1!4m5!3m4!1s0x8425498bd9caea93:0x2da616625a260522!8m2!3d19.135335!4d-103.8855879"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Uno de los manantiales más visitados y bellos del municipio de Coquimatlán es el de los Amiales, que además cuenta con la mayor infraestructura para recibir al turismo local, estatal y regional.
			<br>
			<br>
			A lo largo del cerro que cubre el trayecto del río, se ubican los manantiales que emanan agua fresca que sirve para baño y consumo de quienes visitan estos sitios.
			<br>
			<br>
			Existen decenas de ramadas, desde las tradicionales palapas hasta las construidas de material en donde los prestadores de servicio ofrecen a los visitantes, chicharrones, carnitas, chamorros al horno, pescado frito, camarones, chacales y chigüilines, además de un sitio seguro y tranquilo en donde se puede disfrutar de una buena tarde familiar.
			<br>
			<br>
			Actividades y servicios: Natación, comedores, palapas y sanitarios.
			<br>
			<br>
			A solo 30 minutos de la capital colimense.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Horario</td>
			        <td>12:00 a 19:00 hrs</td>
			      </tr>
			      <tr>
			        <td>Precio desde</td>
			        <td>0 MXN</td>
			      </tr>
			      <tr>
			        <td>Información de precios</td>
			        <td>La entrada al balneario es gratuita, si deseas un comedor ya corresponde un precio y hay restaurantes donde puedes consumir alimentos y bebidas.</td>
			      </tr>
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1256212/balneario-%E2%80%9Clos-amiales%E2%80%9D/showdetails?filter=c%3D31737">Visit Colima</a></td>
			      </tr>
			    </tbody>
			</table>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="saltoCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/balneario-salto/1.png" alt="" style="width:100%;">
      			</div>

      			<div class="item">
        			<img src="../../../assets/img/balneario-salto/2.png" alt="" style="width:100%;">
     			</div>
    
		    	<div class="item">
		        	<img src="../../../assets/img/balneario-salto/3.png" alt="" style="width:100%;">
		      	</div>
  
    		</div>
    		<!-- Left and right controls -->
	    		<a class="left carousel-control" href="#saltoCarousel" data-slide="prev">
	      			<span class="glyphicon glyphicon-chevron-left"></span>
	      			<span class="sr-only">Anterior</span>
	    		</a>
	    		<a class="right carousel-control" href="#saltoCarousel" data-slide="next">
	      			<span class="glyphicon glyphicon-chevron-right"></span>
	      			<span class="sr-only">Siguiente</span>
	    		</a>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Balneario El Salto.<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/El+Salto/@19.3683001,-104.089701,17z/data=!3m1!4b1!4m5!3m4!1s0x84253d39cf6894d3:0x11bb83fce28c796f!8m2!3d19.3683001!4d-104.0875123"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			La cascada “El Salto”, preciosa caída de agua de 15 metros, que cae sobre una caprichosa formación rocosa, rodeada de vegetación selvática, sus albercas y toboganes son ideales para la recreación familiar en cualquier época del año.
			<br>
			<br>
			Se encuentra ubicada a 6 kilómetros al sur de la cabecera municipal de Minatitlán y a un kilómetro de la comunidad de “El Poblado”.
			<br>
			<br>
			<br>
			<h4>Negocios recomendados:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Horario</td>
			        <td>Lunes a Domingo de 7:00 a 21:00 horas</td>
			      </tr>
			      <tr>
			        <td>Precio desde</td>
			        <td>0 MXN</td>
			      </tr>
			      <tr>
			        <td>Información de precios</td>
			        <td>La entrada al balneario es gratuita, si deseas un comedor ya corresponde un precio y hay restaurantes donde puedes consumir alimentos y bebidas.</td>
			      </tr>
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1254946/balneario-el-salto/showdetails?filter=c%3D31737">Visit Colima</a></td>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div id="cuatroCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/campo4/1.png" alt="" style="width:100%;">
      			</div>

      			<div class="item">
        			<img src="../../../assets/img/campo4/2.png" alt="" style="width:100%;">
     			</div>
    
		    	<div class="item">
		        	<img src="../../../assets/img/campo4/3.png" alt="" style="width:100%;">
		      	</div>
  
    		</div>
    		<!-- Left and right controls -->
	    		<a class="left carousel-control" href="#cuatroCarousel" data-slide="prev">
	      			<span class="glyphicon glyphicon-chevron-left"></span>
	      			<span class="sr-only">Anterior</span>
	    		</a>
	    		<a class="right carousel-control" href="#cuatroCarousel" data-slide="next">
	      			<span class="glyphicon glyphicon-chevron-right"></span>
	      			<span class="sr-only">Siguiente</span>
	    		</a>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Campo Cuatro. <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Campo+4,+Comala/@19.353899,-103.8565627,18z/data=!4m8!1m2!2m1!1sCampo+Cuatro+colima!3m4!1s0x842541107c636e35:0x51fc6065f1a5fe1!8m2!3d19.352368!4d-103.8558841"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Se localiza al sureste de la Reserva de la Bíosfera de Manantlán y forma parte del macizo del Cerro Grande. Posee lugares privilegiados para recorridos y se caracteriza por tener excelentes miradores desde donde se pueden apreciar el valle de Colima y los volcanes.
			<br>
			<br>
			Es posible realizar muchas actividades destacando los paseos por senderos interpretativos, deslizarse en ala delta o parapente, realizar caminatas, ciclismo de montaña y campamentos. Cuenta con abundante flora y fauna silvestre formada por bosques tropicales, bosques de encino, selvas medianas y otateras que son el hogar del venado, el jabalí, las zorras, pumas y leones de montaña. Entre las maravillas del lugar encontramos fósiles de plantas y animales marinos. Se recomienda visitar el Pozo de la Peña, la Piedra de Juluapan y realizar el recorrido del “Indio” Alonso. Es notable la participación de la comunidad en las actividades relacionadas con el ecoturismo, por lo que es recomendable contactar con tour operadores o bien buscar un guía comunitario en el poblado.
			<br>
			<br>
			Actividades y servicios: Natación, comedores, palapas y sanitarios.
			<br>
			<br>
			A solo 30 minutos de la capital colimense.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Horario</td>
			        <td>24H</td>
			      </tr>
			      <tr>
			        <td>Precio desde</td>
			        <td>0 MXN</td>
			      </tr>
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1256213/campo-cuatro/showdetails?filter=c%3D31737">Visit Colima</a></td>
			      </tr>
			    </tbody>
			</table>
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="panel panel-default col-lg-5 pan pull-left">
		<div id="cocoCarousel" class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/coco/1.png" alt="" style="width:100%;">
      			</div>

      			<div class="item">
        			<img src="../../../assets/img/coco/2.png" alt="" style="width:100%;">
     			</div>
    
		    	<div class="item">
		        	<img src="../../../assets/img/coco/3.png" alt="" style="width:100%;">
		      	</div>
  
    		</div>
    		<!-- Left and right controls -->
	    		<a class="left carousel-control" href="#cocoCarousel" data-slide="prev">
	      			<span class="glyphicon glyphicon-chevron-left"></span>
	      			<span class="sr-only">Anterior</span>
	    		</a>
	    		<a class="right carousel-control" href="#cocoCarousel" data-slide="next">
	      			<span class="glyphicon glyphicon-chevron-right"></span>
	      			<span class="sr-only">Siguiente</span>
	    		</a>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">Cocodrilario Alcuzahue (Unidad de Manejo Ambiental).<a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/search/Cocodrilario+Alcuzahue/@18.9124499,-103.7869748,17z/data=!3m1!4b1"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			A sólo trece kilómetros de Tecomán, podrás visitar este cocodrilario donde se exhiben 14 diferentes especies de cocodrilos. Para lograr una buena vista puedes atravesar un puente y verlos de todos los tamaños.
			<br>
			<br>
			El lugar es muy seguro y no correrás ningún peligro ya que hay protecciones y se mantiene una buena distancia entre los animales y el turista. Podrás ver y sentir de cerca la forma de vida de los cocodrilos en su entorno natural.
			<br>
			<br>
			Ubicado en las inmediaciones de la laguna “Alcuzahue” por el Libramiento Tecomán-Cerro de Ortega KM 9.
			<br>
			<br>
			<br>
			<h4>Negocios recomendados:</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Horario</td>
			        <td>Lunes a Viernes de 09:00 a 18:00 hrs</td>
			      </tr>
			      <tr>
			        <td>Precio desde</td>
			        <td>25 MXN</td>
			      </tr>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(313) 322 9470</td>
			      </tr>
			      <tr>
			        <td>Información de precios</td>
			        <td>Niños menores de 5 años no pagan boleto.</td>
			      </tr>
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1256214/cocodrilario-alcuzahue-unidad-de-manejo-ambiental/showdetails?filter=c%3D31737">Visit Colima</a></td>
			      </tr>
			    </tbody>
			</table>

		</div>
	</div>
	<div class="panel panel-default col-lg-5 pan pull-right">
		<div class="carousel slide" data-ride="carousel">

		    <!-- Wrapper for slides  -->
		    <div class="carousel-inner">

		    	<div class="item active">
		        	<img src="../../../assets/img/manantlan/1.png" alt="" style="width:100%;">
      			</div>
  
    		</div>
  		</div>
		<div class="panel-body">
			<h3 class="pull-left">El Terrero (Reserva de la Biosfera de la Sierra de Manantlán). <a target="_blank" style="font-size: 30px;" class="pull-right" href="https://www.google.com.mx/maps/place/Campo+4,+Comala/@19.353899,-103.8565627,18z/data=!4m8!1m2!2m1!1sCampo+Cuatro+colima!3m4!1s0x842541107c636e35:0x51fc6065f1a5fe1!8m2!3d19.352368!4d-103.8558841"><span class="glyphicon glyphicon-map-marker"></span></a></h3>
			<div class="clearfix"></div>
			Un sitio agradable para los amantes de la naturaleza, los animales y las plantas silvestres. Aquí tendrán la oportunidad de observar una gran diversidad de aves exóticas y especies en peligro de extinción.
			<br>
			<br>
			En este ejido “El Terrero” se encuentra un bosque conocido como “bosque de nubes”. Y se le llama así, porque se localiza en las partes altas, como si realmente estuviera entre las nubes, su clima es muy frío y húmedo. Es hogar de mariposas, ranas, lagartos, pumas, tigrillos, ardillas, conejos, armadillos, y el dragón de Gila, reptil en peligro de extinción. Los residentes más atractivos de la biosfera son las aves, incluyendo pavos salvajes, águilas, halcones, loros, gorriones, búhos, y pájaros carpinteros. Se protegen todas las especies y no se permite ningún tipo de caza. El suelo de esta región está formado por tierras calizas, lo que da lugar a la formación de numerosas cavernas y hoyos en su terreno. Para los visitantes interesados en la espeleología, es conveniente conseguir guías comunitarios que puedan conducirles a estos lugares, se dice que en el Cerro Grande existen más de 100 hoyos.
			<br>
			<br>
			Actividades y servicios: Natación, comedores, palapas y sanitarios.
			<br>
			<br>
			A solo 30 minutos de la capital colimense.
			<br>
			<br>
			<br>
			<h4>Acerca de esta actividad</h4>
			<table class="table table-striped">
			    <tbody>
			      <tr>
			        <td>Horario</td>
			        <td>24H</td>
			      </tr>
			      <tr>
			        <td>Precio desde</td>
			        <td>0 MXN</td>
			      </tr>
			      <tr>
			        <td>Teléfono:</td>
			        <td>(317) 381 0154</td>
			      </tr>
			      <tr>
			        <td>Nombre de contacto:</td>
			        <td>Ing. Oscar Ponce- Subdirector</td>
			      </tr>
			      <tr>
			        <td>Información basada en:</td>
			        <td><a target="_blank" href="http://book.visitcolima.mx/es/actividad/a1256218/el-terrero-reserva-de-la-biosfera-de-la-sierra-de-manantl%C3%A1n/showdetails?filter=c%3D31737">Visit Colima</a></td>
			      </tr>
			    </tbody>
			</table>
		</div>
	</div>
	<div class="clearfix"></div>

</div>